# **Full course python w3schools** 
[w3s](https://www.w3schools.com/python/default.asp)

In [ ]:
x = "Hello World" 	#str 	
x = 20 	#int 	
x = 20.5 	#float 	
x = 1j 	#complex 	
x = ["apple", "banana", "cherry"] 	#list 	
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set 	
x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
x = True 	#bool 	
x = b"Hello" 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## **int**
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# **Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# **Complex**

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Type Conversion**

You can convert from one type to another with the `int()`, `float(`), and `complex()` methods:

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>


# **Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1,10))

6

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
 x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# **String Literals**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

# **Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [ ]:
 a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[1])

e

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

# **String Length**

To get the length of a string, use the len() function

In [ ]:
a = "Hello, World!"
print(len(a))

13

# **String Methods**

Python has a set of built-in methods that you can use on strings.

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## **Lower** (letras pequenas)

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

## **Upper** (letras maiores)

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## **Split**

The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# **Check String**

To check if a certain phrase or character is present in a string, we can use the keywords `in` or `not in`.

Check if the phrase "ain" is present in the following text:

In [ ]:
 txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

Check if the phrase "ain" is NOT present in the following text:

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

# **String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# **String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + (age)
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# **Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character `\"`:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

Other escape characters used in *Python*:

```
Code 	  Result 	        
\' 	    Single Quote 	
\\ 	    Backslash 	
\n 	    New Line 	
\r 	    Carriage Return 	
\t 	    Tab 	
\b 	    Backspace 	
\f 	    Form Feed 	
\ooo 	  Octal value 	
\xhh 	  Hex value
```

# **String Methods**

Python has a set of built-in methods that you can use on strings.

```
Method 	      Description
capitalize()	Converts the first character to upper case
casefold()	  Converts string into lower case
center()	    Returns a centered string
count()	     Returns the number of times a specified value occurs in a string
encode()	    Returns an encoded version of the string
endswith()	  Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	      Searches the string for a specified value and returns the position of where it was found
format()	    Formats specified values in a string
format_map()	Formats specified values in a string
index()	     Searches the string for a specified value and returns the position of where it was found
isalnum()	   Returns True if all characters in the string are alphanumeric
isalpha()	   Returns True if all characters in the string are in the alphabet
isdecimal()	 Returns True if all characters in the string are decimals
isdigit()	   Returns True if all characters in the string are digits
isidentifier()  Returns True if the string is an identifier
islower()	   Returns True if all characters in the string are lower case
isnumeric()	 Returns True if all characters in the string are numeric
isprintable()   Returns True if all characters in the string are printable
isspace()	   Returns True if all characters in the string are whitespaces
istitle() 	  Returns True if the string follows the rules of a title
isupper()	   Returns True if all characters in the string are upper case
join()	      Joins the elements of an iterable to the end of the string
ljust()	     Returns a left justified version of the string
lower()	     Converts a string into lower case
lstrip()	    Returns a left trim version of the string
maketrans()	 Returns a translation table to be used in translations
partition()	 Returns a tuple where the string is parted into three parts
replace()	   Returns a string where a specified value is replaced with a specified value
rfind()	     Searches the string for a specified value and returns the last position of where it was found
rindex()	    Searches the string for a specified value and returns the last position of where it was found
rjust()	     Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	    Splits the string at the specified separator, and returns a list
rstrip()	    Returns a right trim version of the string
split()	     Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	     Returns a trimmed version of the string
swapcase()	  Swaps cases, lower case becomes upper case and vice versa
title()	     Converts the first character of each word to upper case
translate()	 Returns a translated string
upper()	     Converts a string into upper case
zfill()     	Fills the string with a specified number of 0 values at the beginning

```

# **Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# **Evaluate Values and Variables**

The `bool()` function allows you to evaluate any value, and give you `True `or `False` in return

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# **Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## **Some Values are False**

In fact, there are not many values that evaluates to `False`, except empty values, such as `(), [], {}, ""`, the number 0, and the value `None`. And of course the value `False` evaluates to `False`.

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to `False`, and that is if you have an objects that are made from a class with a `__len__` function that returns `0` or `False`:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## **Functions can Return a Boolean**

Python also has many built-in functions that returns a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

True

## **Python Operators**

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

  - Arithmetic operators
  - Assignment operators
  - Comparison operators
  - Logical operators
  - Identity operators
  - Membership operators
  - Bitwise operators

## **Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
Operator 	Name 	                Example 	 
+ 	      Addition 	            x + y 	
- 	      Subtraction 	        x - y 	
* 	      Multiplication 	      x * y 	
/ 	      Division 	            x / y 	
% 	      Modulus 	            x % y 	
** 	      Exponentiation 	      x ** y 	
// 	      Floor division 	      x // y

In [ ]:
Operator 	Example 	Same As 	Try it
= 	      x = 5 	  x = 5 	
+= 	      x += 3 	  x = x + 3 	
-= 	      x -= 3 	  x = x - 3 	
*= 	      x *= 3 	  x = x * 3 	
/= 	      x /= 3 	  x = x / 3 	
%= 	      x %= 3 	  x = x % 3 	
//= 	    x //= 3 	x = x // 3 	
**= 	    x **= 3 	x = x ** 3 	
&= 	      x &= 3  	x = x & 3 	
|= 	      x |= 3 	  x = x | 3 	
^= 	      x ^= 3  	x = x ^ 3 	
>>= 	    x >>= 3 	x = x >> 3 	
<<= 	    x <<= 3 	x = x << 3

## **Python Comparison Operators**

Comparison operators are used to compare two values:

In [ ]:
Operator 	Name 	                        Example 	
== 	      Equal 	                      x == y 	
!= 	      Not equal 	                  x != y 	
> 	      Greater than        	        x > y 	
< 	      Less than 	                  x < y 	
>= 	      Greater than or equal to 	    x >= y 	
<= 	      Less than or equal to         x <= y

## **Python Logical Operators**

Logical operators are used to combine conditional statements:

In [ ]:
Operator 	Description 	                                              Example 	
and  	    Returns True if both statements are true 	                  x < 5 and  x < 10 	
or 	      Returns True if one of the statements is true 	            x < 5 or x < 4 	
not 	    Reverse the result, returns False if the result is true     not(x < 5 and x < 10)

# **Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
Operator 	    Description 	                                            Example 
is  	        Returns true if both variables are the same object 	      x is y 	
is not 	      Returns true if both variables are not the same object 	  x is not y

# **Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
Operator 	    Description 	                                                                      Example 	
in  	        Returns True if a sequence with the specified value is present in the object 	      x in y 	
not in 	      Returns True if a sequence with the specified value is not present in the object 	  x not in y

# **Python Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

In [ ]:
Operator 	Name 	                          Description
&  	      AND 	                          Sets each bit to 1 if both bits are 1
| 	      OR 	                            Sets each bit to 1 if one of two bits is 1
 ^ 	      XOR 	                          Sets each bit to 1 if only one of two bits is 1
~  	      NOT 	                          Inverts all the bits
<< 	      Zero fill left shift 	          Shift left by pushing zeros in from the right and let the leftmost bits fall off
>> 	      Signed right shift 	            Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

## **Python Collections (Arrays)**

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# **List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## **Access Items**

You access the list items by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## **Negative Indexing**

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
 thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# **Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## **Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']


## **Change Item Value**

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## Loop Through a List

You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# **Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### **List Length**

To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## **Add Items**

To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the `insert()` method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# **Remove Item**

There are several methods to remove items from a list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The `pop() `method removes the specified index, (or the last item if index is not specified):

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

The `clear()` method empties the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## **Copy a List**

You cannot copy a `list` simply by typing `list2 = list1`, because: list2 will only be a reference to list1, and changes made in `list1 `will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method `list()`.

**Example**

Make a copy of a list with the `list()` method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## **Join Two Lists**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Example**

Append list2 into list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another `list`:

**Example**

Use the `extend()` method to add `list2` at the end of `list1`:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## **The list() Constructor**

It is also possible to use the l`ist()` constructor to make a new list.

**Example**

Using the list() constructor to make a List:

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## **List Methods**

Python has a set of built-in methods that you can use on lists.

In [ ]:
Method 	    Description
append()	  Adds an element at the end of the list
clear()	    Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	  Add the elements of a list (or any iterable), to the end of the current list
index()	    Returns the index of the first element with the specified value
insert()	  Adds an element at the specified position
pop()	      Removes the element at the specified position
remove()	  Removes the item with the specified value
reverse()	  Reverses the order of the list
sort()	    Sorts the list

## **Tuple**

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## **Negative Indexing**

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## **Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## **Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
 thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## **Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
 x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## **Loop Through a Tuple**

You can loop through the tuple items by using a `for` loop.

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## **Check if Item Exists**

To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
 thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **Tuple Length**

To determine how many items a tuple has, use the `len()` method:

In [ ]:
 thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **Add Items**

Once a tuple is created, you cannot add items to it. Tuples are **unchangeable**.

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: ignored

## **Create Tuple With One Item**

To create a tuple with only one item, you have add a comma after the item, unless Python will not recognize the variable as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## **Remove Items**

Note: You cannot remove items in a tuple.

 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:
Example

The del keyword can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

## **Join Two Tuples**

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## **The tuple() Constructor**

It is also possible to use the `tuple()` constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Methods**

Python has two built-in methods that you can use on tuples.

In [ ]:
Method 	  Description
count()	  Returns the number of times a specified value occurs in a tuple
index()	  Searches the tuple for a specified value and returns the position of where it was found

### **Set**

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

`Note: Sets are unordered, so you cannot be sure in which order the items will appear.`

## **Access Items**

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## **Change Items**

Once a set is created, you cannot change its items, but you can add new items.

## **Add Items**

To add one item to a set use the `add()` method.

To add more than one item to a set use the `update()` method.

**Example**

Add an item to a set, using the `add()` method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

**Example**

Add multiple items to a set, using the `update()` method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'grapes', 'mango', 'banana', 'cherry', 'orange'}

## **Get the Length of a Set**

To determine how many items a set has, use the `len()` method.

**Example**

Get the number of items in a set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## **Remove Item**

To remove an item in a set, use the `remove()`, or the `discard()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

`Note: If the item to remove does not exist, remove() will raise an error.`

**Example**

Remove "banana" by using the discard() method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

`Note: If the item to remove does not exist, discard() will NOT raise an error.`

You can also use the `pop()`, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

**Example**

Remove the last item by using the pop() method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

*Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.*

## **Example**

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

**Example**

The `del` keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

## **Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

**Example**

The `union()` method returns a new set with all items from both sets:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

**Example**

The `update()` method inserts the items in set2 into set1:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

**Note**: Both `union() `and `update()` will exclude any duplicate items.

There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.

## **The set() Constructor**

It is also possible to use the `set()` constructor to make a set.

**Example**

Using the `set()` constructor to make a set:

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

## **Set Methods**

Python has a set of built-in methods that you can use on sets.

In [ ]:
Method 	                Description
add()	                  Adds an element to the set
clear()	                Removes all the elements from the set
copy()	                Returns a copy of the set
difference()	          Returns a set containing the difference between two or more sets
difference_update()	    Removes the items in this set that are also included in another, specified set
discard()	              Remove the specified item
intersection()	        Returns a set, that is the intersection of two other sets
intersection_update()	  Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	          Returns whether two sets have a intersection or not
issubset()	            Returns whether another set contains this set or not
issuperset()	          Returns whether this set contains another set or not
pop()	                  Removes an element from the set
remove()	              Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	                Return a set containing the union of sets
update()	              Update the set with the union of this set and others

## **Dictionary**

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## **Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
x = thisdict["model"]

There is also a method called `get()` that will give you the same result:

In [ ]:
x = thisdict.get("model")

## **Change Values**

You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

## **Loop Through a Dictionary**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

**Example**

Print all values in the dictionary, one by one:

In [ ]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

**Example**

You can also use the `values()` function to return values of a dictionary:

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

Loop through both keys and values, by using the `items()` function:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

## **Check if Key Exists**

To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## **Dictionary Length**

To determine how many items (key-value pairs) a dictionary has, use the `len()` method.

In [ ]:
print(len(thisdict))

3

## **Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## **Removing Items**

There are several methods to remove items from a dictionary:

**Example**

The `pop()` method removes the item with the specified key name:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Example**

The `popitem()` method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

**Example**

The `del` keyword removes the item with the specified key name:

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Example**

The `clear()` keyword empties the dictionary:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## **Copy a Dictionary**

You cannot copy a dictionary simply by typing `dict2` = `dict1`, because: `dict2` will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method `copy()`.

**Example**

Make a copy of a dictionary with the `copy()` method:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in method `dict()`.

**Example**

Make a copy of a dictionary with the `dict()` method:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## **Nested Dictionaries**

A dictionary can also contain many dictionaries, this is called nested dictionaries.

**Example**

Create a dictionary that contain three dictionaries:

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

## **The dict() Constructor**

It is also possible to use the `dict()` constructor to make a new dictionary:

In [ ]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## **Dictionary Methods**

Python has a set of built-in methods that you can use on dictionaries.

In [ ]:
Method 	        Description
clear()	        Removes all the elements from the dictionary
copy()	        Returns a copy of the dictionary
fromkeys()	    Returns a dictionary with the specified keys and values
get()	          Returns the value of the specified key
items()	        Returns a list containing a tuple for each key value pair
keys()	        Returns a list containing the dictionary's keys
pop()	          Removes the element with the specified key
popitem()	      Removes the last inserted key-value pair
setdefault()	  Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	      Updates the dictionary with the specified key-value pairs
values()	       Returns a list of all the values in the dictionary

## **Python Conditions and If statements**

Python supports the usual logical conditions from mathematics:

  - Equals: a == b
  - Not Equals: a != b
  - Less than: a < b
  - Less than or equal to: a <= b
  - Greater than: a > b
  - Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

**Example**

If statement:

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example `a `is equal to `b`, so the first condition is not true,but the `elif` condition is true, so we print to screen that "a and b are equal".

## **Else**

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example `a` is greater than` b`, so the first condition is not true, also the `elif` condition is not true, so we go to the `else `condition and print to screen that "a is greater than b".

You can also have an `else` without the `elif`:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## **Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

## **Short Hand If ... Else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

**Example**

One line if else statement, with 3 conditions:

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## **And**

The `and` keyword is a logical operator, and is used to combine conditional statements:

**Example**

Test if `a` is greater than `b`, `AND` if `c` is greater than a:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

## **Or**

The `or` keyword is a logical operator, and is used to combine conditional statements:

**Example**

Test if `a` is greater than` b`, OR if `a` is greater than `c`:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## **Nested If**

You can have `if` statements inside `if` statements, this is called nested `if` statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## **The pass Statement**

`if` statements cannot be empty, but if you for some reason have an `if` statement with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

## **Python Loops**

Python has two primitive loop commands:

  - `while` loops
  - `for` loops

## **The while Loop**

With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

*Note: remember to increment i, or else the loop will continue forever.*

The `while` loop requires relevant variables to be ready, in this example we need to define an indexing variable, `i`, which we set to 1.

## **The break Statement**

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## **The continue Statement**

With the `continue` statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## **Python For Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The `for` loop does not require an indexing variable to set beforehand.

## **Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## **The break Statement**

With the break statement we can stop the loop before it has looped through all the items:

Exit the loop when x is "banana":

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

## **Example**

Exit the loop when x is "banana", but this time the break comes before the print:

In [ ]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

## **The continue Statement**

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## **Creating a Function**

In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

## **Calling a Function**

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## **Parameters**

Information can be passed to functions as parameter.

Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## **Default Parameter Value**

The following example shows how to use a default parameter value.

If we call the function without parameter, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## **Passing a List as a Parameter**

You can send any data types of parameter to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as a parameter, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# **Return Values**

To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## **Keyword Arguments**

You can also send arguments with the key = `value `syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## **Arbitrary Arguments**

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

## **The pass Statement**

`function` definitions cannot be empty, but if you for some reason have a `function` definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

## **Recursion**

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
 def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

## **Python Lambda**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

## **Syntax**

`lambda arguments : expression`

The expression is executed and the result is returned:

**Example**

A lambda function that adds 10 to the number passed in as an argument, and print the result:

In [ ]:
x = lambda a : a + 10
print(x(5))

15

## **Certo, mas qual a sintaxe para criar uma funo lambda em Python?**

No tem nada muito complicado aqui. Para criar uma funo lambda voc deve utilizar a seguinte sintaxe:

    lambda argumento_1, aurgumento_n: expresso

Vale notar que as funes lambda no utilizam a keyword return pois o retorno dentro de lambda  implcito.

## **Mas para que servem essas funes lambda?**

Funes lambda funcionam da mesma forma que funes convencionais e, em geral, a escolha de adotar ou no seu uso  exclusivamente baseada em estilo de cdigo.

Mas vamos supor que voc tenha um dicionrio de dados com a seguinte estrutura:

In [ ]:
users = [
  {
    "id": 1, 
    "name": "Allan", 
    "age": 27, 
    "profile_picture": "http://", 
    "city": "So Paulo"
  },
  {
    "id": 2, 
    "name": "Julie", 
    "age": 29, 
    "profile_picture": "http://", 
    "city": "Curitiba"
  },
  {
    "id": 3, 
    "name": "Pedro", 
    "age": 31, 
    "profile_picture": "http://", 
    "city": "Rio de Janeiro"
  }
]

Voc analisou tudo e viu que precisava fazer uma lista apenas com as pessoas que tem mais de **27 anos**.

Um exemplo com funes convencionais utilizando **def**:

In [ ]:
def users_over_27(user):
  return user["age"] > 27
  
filtered_users = filter(users_over_27, users)

list(filtered_users)

[{'age': 29,
  'city': 'Curitiba',
  'id': 2,
  'name': 'Julie',
  'profile_picture': 'http://'},
 {'age': 31,
  'city': 'Rio de Janeiro',
  'id': 3,
  'name': 'Pedro',
  'profile_picture': 'http://'}]

Tudo bem que no  nada complicado e no temos muitas linhas de cdigo, mas podemos simplificar ainda mais esse trecho de cdigo e fazer tudo em uma linha s, utilizando **lambda**.

In [ ]:
filtered_users = filter(lambda user: user["age"] > 27, users)

list(filtered_users)

[{'age': 29,
  'city': 'Curitiba',
  'id': 2,
  'name': 'Julie',
  'profile_picture': 'http://'},
 {'age': 31,
  'city': 'Rio de Janeiro',
  'id': 3,
  'name': 'Pedro',
  'profile_picture': 'http://'}]

Lambda functions can take any number of arguments:

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

## **Example**

A lambda function that sums argument a, b, and c and print the result:

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## **Why Use Lambda Functions?**

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

Use that function definition to make a function that always doubles the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22